/build
/build-*/
/meson-logs
/meson-private
/dash
/chimerautils
/yash
/compile_commands.json
/*.swp
/*.swo
/test-posix/yash/*.trs
/test-posix/yash/*.out
/test-posix/yash/*.err
/test-posix/yash/*.valgrind
/test-posix/yash/*.o
/test-posix/yash/*.d
/test-posix/yash/*.dSYM
/test-posix/yash/summary.log
/test-posix/yash/checkfg
/test-posix/yash/ptwrap
/test-posix/yash/resetsig
/test-posix/yash/tmp.*
